<div class="board-container">
  <div class="col"></div>
<div class="board-border">
  <div class="board">
    <div (click)="selectSquare($event)" class="square" id="cell1"></div>
    <div (click)="selectSquare($event)" class="square" id="cell2"></div>
    <div (click)="selectSquare($event)" class="square" id="cell3"></div>
    <div (click)="selectSquare($event)" class="square" id="cell4"></div>
    <div (click)="selectSquare($event)" class="square" id="cell5"></div>
    <div (click)="selectSquare($event)" class="square" id="cell6"></div>
    <div (click)="selectSquare($event)" class="square" id="cell7"></div>
    <div (click)="selectSquare($event)" class="square" id="cell8"></div>
    <div (click)="selectSquare($event)" class="square" id="cell9"></div>
    <div (click)="selectSquare($event)" class="square" id="cell10"></div>
    <div (click)="selectSquare($event)" class="square" id="cell11"></div>
    <div (click)="selectSquare($event)" class="square" id="cell12"></div>
    <div (click)="selectSquare($event)" class="square" id="cell13"></div>
    <div (click)="selectSquare($event)" class="square" id="cell14"></div>
    <div (click)="selectSquare($event)" class="square" id="cell15"></div>
    <div (click)="selectSquare($event)" class="square" id="cell16"></div>
    <div (click)="selectSquare($event)" class="square" id="cell17"></div>
    <div (click)="selectSquare($event)" class="square" id="cell18"></div>
    <div (click)="selectSquare($event)" class="square" id="cell19"></div>
    <div (click)="selectSquare($event)" class="square" id="cell20"></div>
    <div (click)="selectSquare($event)" class="square" id="cell21"></div>
    <div (click)="selectSquare($event)" class="square" id="cell22"></div>
    <div (click)="selectSquare($event)" class="square" id="cell23"></div>
    <div (click)="selectSquare($event)" class="square" id="cell24"></div>
    <div (click)="selectSquare($event)" class="square" id="cell25"></div>
    <div (click)="selectSquare($event)" class="square" id="cell26"></div>
    <div (click)="selectSquare($event)" class="square" id="cell27"></div>
    <div (click)="selectSquare($event)" class="square" id="cell28"></div>
    <div (click)="selectSquare($event)" class="square" id="cell29"></div>
    <div (click)="selectSquare($event)" class="square" id="cell30"></div>
    <div (click)="selectSquare($event)" class="square" id="cell31"></div>
    <div (click)="selectSquare($event)" class="square" id="cell32"></div>
    <div (click)="selectSquare($event)" class="square" id="cell33"></div>
    <div (click)="selectSquare($event)" class="square" id="cell34"></div>
    <div (click)="selectSquare($event)" class="square" id="cell35"></div>
    <div (click)="selectSquare($event)" class="square" id="cell36"></div>
    <div (click)="selectSquare($event)" class="square" id="cell37"></div>
    <div (click)="selectSquare($event)" class="square" id="cell38"></div>
    <div (click)="selectSquare($event)" class="square" id="cell39"></div>
    <div (click)="selectSquare($event)" class="square" id="cell40"></div>
    <div (click)="selectSquare($event)" class="square" id="cell41"></div>
    <div (click)="selectSquare($event)" class="square" id="cell42"></div>
    <div (click)="selectSquare($event)" class="square" id="cell43"></div>
    <div (click)="selectSquare($event)" class="square" id="cell44"></div>
    <div (click)="selectSquare($event)" class="square" id="cell45"></div>
    <div (click)="selectSquare($event)" class="square" id="cell46"></div>
    <div (click)="selectSquare($event)" class="square" id="cell47"></div>
    <div (click)="selectSquare($event)" class="square" id="cell48"></div>
    <div (click)="selectSquare($event)" class="square" id="cell49"></div>
    <div (click)="selectSquare($event)" class="square" id="cell50"></div>
    <div (click)="selectSquare($event)" class="square" id="cell51"></div>
    <div (click)="selectSquare($event)" class="square" id="cell52"></div>
    <div (click)="selectSquare($event)" class="square" id="cell53"></div>
    <div (click)="selectSquare($event)" class="square" id="cell54"></div>
    <div (click)="selectSquare($event)" class="square" id="cell55"></div>
    <div (click)="selectSquare($event)" class="square" id="cell56"></div>
    <div (click)="selectSquare($event)" class="square" id="cell57"></div>
    <div (click)="selectSquare($event)" class="square" id="cell58"></div>
    <div (click)="selectSquare($event)" class="square" id="cell59"></div>
    <div (click)="selectSquare($event)" class="square" id="cell60"></div>
    <div (click)="selectSquare($event)" class="square" id="cell61"></div>
    <div (click)="selectSquare($event)" class="square" id="cell62"></div>
    <div (click)="selectSquare($event)" class="square" id="cell63"></div>
    <div (click)="selectSquare($event)" class="square" id="cell64"></div>
    <div (click)="selectSquare($event)" class="square" id="cell65"></div>
    <div (click)="selectSquare($event)" class="square" id="cell66"></div>
    <div (click)="selectSquare($event)" class="square" id="cell67"></div>
    <div (click)="selectSquare($event)" class="square" id="cell68"></div>
    <div (click)="selectSquare($event)" class="square" id="cell69"></div>
    <div (click)="selectSquare($event)" class="square" id="cell70"></div>
    <div (click)="selectSquare($event)" class="square" id="cell71"></div>
    <div (click)="selectSquare($event)" class="square" id="cell72"></div>
    <div (click)="selectSquare($event)" class="square" id="cell73"></div>
    <div (click)="selectSquare($event)" class="square" id="cell74"></div>
    <div (click)="selectSquare($event)" class="square" id="cell75"></div>
    <div (click)="selectSquare($event)" class="square" id="cell76"></div>
    <div (click)="selectSquare($event)" class="square" id="cell77"></div>
    <div (click)="selectSquare($event)" class="square" id="cell78"></div>
    <div (click)="selectSquare($event)" class="square" id="cell79"></div>
    <div (click)="selectSquare($event)" class="square" id="cell80"></div>
    <div (click)="selectSquare($event)" class="square" id="cell81"></div>
    <div (click)="selectSquare($event)" class="square" id="cell82"></div>
    <div (click)="selectSquare($event)" class="square" id="cell83"></div>
    <div (click)="selectSquare($event)" class="square" id="cell84"></div>
    <div (click)="selectSquare($event)" class="square" id="cell85"></div>
    <div (click)="selectSquare($event)" class="square" id="cell86"></div>
    <div (click)="selectSquare($event)" class="square" id="cell87"></div>
    <div (click)="selectSquare($event)" class="square" id="cell88"></div>
    <div (click)="selectSquare($event)" class="square" id="cell89"></div>
    <div (click)="selectSquare($event)" class="square" id="cell90"></div>
    <div (click)="selectSquare($event)" class="square" id="cell91"></div>
    <div (click)="selectSquare($event)" class="square" id="cell92"></div>
    <div (click)="selectSquare($event)" class="square" id="cell93"></div>
    <div (click)="selectSquare($event)" class="square" id="cell94"></div>
    <div (click)="selectSquare($event)" class="square" id="cell95"></div>
    <div (click)="selectSquare($event)" class="square" id="cell96"></div>
    <div (click)="selectSquare($event)" class="square" id="cell97"></div>
    <div (click)="selectSquare($event)" class="square" id="cell98"></div>
    <div (click)="selectSquare($event)" class="square" id="cell99"></div>
    <div (click)="selectSquare($event)" class="square" id="cell100"></div>
    <div (click)="selectSquare($event)" class="square" id="cell101"></div>
    <div (click)="selectSquare($event)" class="square" id="cell102"></div>
    <div (click)="selectSquare($event)" class="square" id="cell103"></div>
    <div (click)="selectSquare($event)" class="square" id="cell104"></div>
    <div (click)="selectSquare($event)" class="square" id="cell105"></div>
    <div (click)="selectSquare($event)" class="square" id="cell106"></div>
    <div (click)="selectSquare($event)" class="square" id="cell107"></div>
    <div (click)="selectSquare($event)" class="square" id="cell108"></div>
    <div (click)="selectSquare($event)" class="square" id="cell109"></div>
    <div (click)="selectSquare($event)" class="square" id="cell110"></div>
    <div (click)="selectSquare($event)" class="square" id="cell111"></div>
    <div (click)="selectSquare($event)" class="square" id="cell112"></div>
    <div (click)="selectSquare($event)" class="square" id="cell113"></div>
    <div (click)="selectSquare($event)" class="square" id="cell114"></div>
    <div (click)="selectSquare($event)" class="square" id="cell115"></div>
    <div (click)="selectSquare($event)" class="square" id="cell116"></div>
    <div (click)="selectSquare($event)" class="square" id="cell117"></div>
    <div (click)="selectSquare($event)" class="square" id="cell118"></div>
    <div (click)="selectSquare($event)" class="square" id="cell119"></div>
    <div (click)="selectSquare($event)" class="square" id="cell120"></div>
    <div (click)="selectSquare($event)" class="square" id="cell121"></div>
  </div>
</div>
  <div class="col"></div>
</div>